{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}

	{% for article in articles %}
		<article>
			<h2>{{ article.name }}</h2>
			<div>{{ article.description }}
				<div>
					<strong>Fiche article</strong>
					<p>
						Prix de l'article :
						{{ article.price }}
						<br>
						Poids de l'article :
						{{ article.weight }}
						kgs
						<br>
						Dimension de l'article :
						{{ article.dimension }}
					</p>
				</div>
				<div>
					<p>
						Catégorie :
						{{ article.articleHasProperties[0].category.name }}
					</p>
					<p>
						Sous-catégorie :
						<ol>
							{% if article.articleHasProperties[0].subCategory %}
								{% for articleHasProperty in article.articleHasProperties %}
									<li>{{ articleHasProperty.subCategory.name }}</li>
								{% endfor %}
							{% else %}
								Il n'y a pas de sous-catégorie.
							{% endif %}
						</ol>
					</p>
					<p>
						Promotions :
						<div>
							{% if article.articleHasProperties[0].promotion %}
								{% for articleHasProperty in article.articleHasProperties %}
									<div>{{ articleHasProperty.promotion.promotionEvent.label }}</div>
									<div>{{ articleHasProperty.promotion.name }}</div>
									<div>Date de création :
										{{ articleHasProperty.promotion.createdAt | date('d m Y') }}</div>
									<div>Date de début :
										{{ articleHasProperty.promotion.dateStart | date('d m Y') }}</div>
									<div>Date de fin :
										{{ articleHasProperty.promotion.dateEnd | date('d m Y') }}</div>
									<div>Type de promotion :
										{{ articleHasProperty.promotion.type }}</div>
									<div>Valeur de la promotion :
										{{ articleHasProperty.promotion.value }}</div>

								{% endfor %}
							{% else %}
								Il n'y a pas de promotion pour cet article.
							{% endif %}
						</div>
					</p>
				</ul>
			</div>
		</article>
		<hr>
	{% endfor %}
{% endblock %}
